<% provide :title, t(".title") %>
<h1><%= t "app.static_pages.about.header1" %></h1>
<p>
  <%= t "app.static_pages.about.text1" %>
  <%= link_to t("app.static_pages.about.link1"), "http://www.railstutorial.org/" %>
  <%= t "app.static_pages.about.text2" %>
  <%= link_to t("app.static_pages.about.link2"), "http://www.railstutorial.org/book" %>
  <%= t "app.static_pages.about.text3" %>
  <%= link_to t("app.static_pages.about.link3"), "http://screencasts.railstutorial.org/" %>
  <%= t "app.static_pages.about.text4" %>
  <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>
  <%= t "app.static_pages.about.text5" %>
</p>
