<% provide :title, t(".title") %>
<h1><%= t "static_pages.about.header1" %></h1>
<p>
  <%= t ".text1" %>
  <%= link_to t(".link1"), "http://www.railstutorial.org/" %>
  <%= t ".text2" %>
  <%= link_to t(".link2"), "http://www.railstutorial.org/book" %>
  <%= t ".text3" %>
  <%= link_to t(".link3"), "http://screencasts.railstutorial.org/" %>
  <%= t ".text4" %>
  <%= link_to "Ruby on Rails", "http://rubyonrails.org/" %>
  <%= t ".text5" %>
</p>
