<% provide :title, t(".title") %>
<h1><%= t "help.header1" %></h1>
<p>
  <%= t "help.text1" %>
  <%= link_to t("help.link1"), "http://www.railstutorial.org/help" %>
  <%= t "help.text2" %>
  <%= link_to t("help.link2"), "http://www.railstutorial.org/book" %>.
</p>
