<% provide :title, t(".title") %>
<h1><%= t "app.static_pages.help.header1" %></h1>
<p>
  <%= t "app.static_pages.help.text1" %>
  <%= link_to t("app.static_pages.help.link1"), "http://www.railstutorial.org/help" %>
  <%= t "app.static_pages.help.text2" %>
  <%= link_to t("app.static_pages.help.link2"), "http://www.railstutorial.org/book" %>.
</p>
