<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t "app.static_pages.home.header1" %></h1>

  <h2>
    <%= t "app.static_pages.home.text1" %>
    <%= link_to t("app.static_pages.home.link1"), "http://www.railstutorial.org/" %>
    <%= t "app.static_pages.home.text2" %>
  </h2>

  <%= link_to t("app.static_pages.home.link2"), "#", class: "btn btn-lg btn-primary" %>
</div>


