<% provide :title, t(".title") %>
<div class="center jumbotron">
  <h1><%= t ".header1" %></h1>

  <h2>
    <%= t ".text1" %>
    <%= link_to t(".link1"), "http://www.railstutorial.org/" %>
    <%= t ".text2" %>
  </h2>

  <%= link_to t(".link2"), "#", class: "btn btn-lg btn-primary" %>
</div>


