<footer class="footer">
  <small>
    <%= t "app.layouts.footer.text1" %>
    <%= link_to t("app.layouts.footer.link1"), "http://www.railstutorial.org/" %>
    <%= t "app.layouts.footer.text2" %>
    <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("app.layouts.footer.link2"), about_path %></li>
      <li><%= link_to t("app.layouts.footer.link3"), contact_path %></li>
      <li><%= link_to t("app.layouts.footer.link4"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
