<footer class="footer">
  <small>
    <%= t ".text1" %>
    <%= link_to t(".link1"), "http://www.railstutorial.org/" %>
    <%= t ".text2" %>
    <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link2"), about_path %></li>
      <li><%= link_to t(".link3"), contact_path %></li>
      <li><%= link_to t(".link4"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>

