<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("app.layouts.header.logo"), root_path, class: :logo %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("app.layouts.header.home"), root_path %></li>
        <li><%= link_to t("app.layouts.header.help"), help_path %></li>
        <li><%= link_to t("app.layouts.header.signup"), signup_url %></li>
        <li><%= link_to t("app.layouts.header.login"), "" %></li>
        <li><%= link_to "English", locale:"en" %></li>
        <li><%= link_to "Tiếng Việt", locale:"vi" %></li>
        <li><%= link_to "日本語", locale:"jp" %></li>
      </ul>
    </nav>
  </div>
</header>
